.bubble {
  /* 체크박스 체크 버튼 비활성화*/
  & > input[type='checkbox'] {
    display: none;
  }

  & > label {
    @include flex-row-center;
    cursor: pointer;
    gap: 0.2rem;
    padding: 0.3rem 0.7rem;
    border-radius: 2rem;

    &.default {
      color: $white;
    }

    &.border,
    &.remove {
      border: 0.1rem solid $white;
      color: $white;
    }
  }

  & > input[type='checkbox']:checked + label {
    &.default,
    &.border {
      background-color: $white;
      color: $blue-violet;
    }
  }
}
