.button {
  @include flex-row-space-between;
  align-items: center;
  gap: 0.2rem;
  padding: 0.2rem 0.7rem;
  width: fit-content;
  height: fit-content;
  justify-content: center;

  &.reverse {
    flex-direction: row-reverse;
  }

  &.only-icon {
    padding: 0.3rem;
  }

  &.full-width {
    width: 100%;
  }

  & .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
