.footer-background {
  @include flex-row-center;

  width: 100%;
  background-color: $ebony;
  padding: 2rem 0;
  margin-top: 3rem;

  & footer {
    width: $page-content-width;
    @include flex-row-space-between;
    align-items: flex-end;

    & .info {
      line-height: 150%;
    }

    & .info > div:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
