.header-background {
  @include flex-row-center;
  width: 100%;
  background-color: $ebony;
  padding: 2rem 0;

  & header {
    @include flex-row-start;
    gap: 2rem;

    width: $page-content-width;

    & .logo {
      height: 2.8rem;

      & > img {
        width: auto;
        height: 100%;
      }
    }

    & .menus {
      @include flex-row-space-between;
      align-items: flex-end;
      width: 100%;
      height: 100%;

      & button {
        padding: 0;
        align-items: flex-end;
      }

      & .menu {
        @include flex-row-start;
        gap: 1rem;
      }
    }
  }
}

@media screen {
  .header-background {
    & header {
      display: flex;
      justify-content: center;
      align-items: center;

      & .menus {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .header-background {
    & header {
      & .logo {
        height: 2.8rem;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .header-background {
    height: 4.2rem;
    & header {
      & .logo {
        height: 2rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header-background {
    height: 4rem;
    & header {
      & .logo {
        height: 1.6rem;
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .header-background {
    height: 3.8rem;
    & header {
      & .logo {
        height: 1.2rem;
      }
    }
  }
}
