.icon-button {
  @include flex-row-space-between;
  border-radius: 20rem;
  gap: $pxr5;
  padding: 0.5rem 1rem;

  &.reverse {
    flex-direction: row-reverse;
  }

  &.only-icon {
    padding: 0.5rem;
  }
}
