.text {
  word-break: keep-all;

  &.h1 {
    font-size: $pxr25;
    font-weight: 600;
  }

  &.h2 {
    font-size: $pxr20;
    font-weight: 600;
  }

  &.h3 {
    font-size: $pxr18;
    font-weight: 600;
  }

  &.h4 {
    font-size: $pxr16;
    font-weight: 600;
  }

  &.h5 {
    font-size: $pxr14;
    font-weight: 600;
  }
}
