.pagination {
  @include flex-row-center;
  align-items: center;
  gap: 4rem;
  margin-bottom: 2rem;

  @media (max-width: 500px) {
    gap: 2rem;
  }

  & .control.hidden {
    visibility: hidden;
  }

  & .pages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;

    @media (max-width: 500px) {
      gap: 2rem;
    }

    & .text {
      cursor: pointer;
      margin: 0.2rem;
    }

    & .active {
      border-bottom: 2px solid $blue-violet;
      color: $blue-violet;
    }
  }
}
