# Visual Studio Code configs
.vscode/

# JetBrains IDEs
.idea/

# production
/build

# Dependency directory
**/node_modules/**
_node_modules
/node_modules
/package-lock.json
/pnpm-lock.yaml
/shrinkwrap.yaml
/yarn.lock

# misc
.DS_Store

# vite cache
.vite

# env
.env
.env.*