# production
/build
/storybook-static

# dependencies and cache
/node_modules

# misc
.DS_Store

# Ignore .env files
.env.production
.env.development

# zero-install
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# vite cache
.vite