.dropdown {
  position: relative;
  display: inline-block;
  max-width: 100%;

  & > .select-options {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    flex-wrap: wrap;
    border-radius: 0.4rem;
    padding: 0 0.7rem;
    min-height: 1.5rem;

    & .button {
      padding-left: 0;
      padding-right: 0;
    }
  }

  & .options {
    position: absolute;
    top: 100%;
    margin: 0.1rem 0;
    z-index: 1;
    width: max-content;
    padding: 0.5rem 0;

    background-color: $alabaster;
    border: 1px solid #e2e2e2;
    border-radius: 0.5rem;

    & .search {
      padding: 1rem;
      display: flex;
    }

    & ul {
      list-style: none;
      max-height: 300px;
      overflow-y: auto;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, auto));

      & li {
        padding: 8px 12px;
        font-size: 14px;
        cursor: pointer;

        &.highlighted-item {
          background-color: #f0f0f0;
        }

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
}
