.admin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex: 1;

  & > .header {
    background: $purple;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;

    & > .body {
      width: $page-content-width;

      display: flex;
      align-items: center;
      justify-content: space-between;

      & > .left {
        display: flex;
      }

      & > .right {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }

  & > .body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    & article {
      padding: 2rem 0;
      width: $page-content-width;

      @media screen and (max-width: 800px) {
        width: 100%;
      }

      & > div {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 1rem;

        & .pagination {
          margin-top: 1rem;
        }
      }
    }

    & > .side-menu {
      & > ol {
        padding: 2rem;
        padding-top: 13rem;

        & li {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
