.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  width: 100%;
  flex: 1;

  & > .content {
    width: $page-content-width;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    & > .searchbar {
      width: 31.25rem;
    }

    & > .text {
      flex: 1;
    }
  }
}
