.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  width: 100%;
  flex: 1;

  & > .content {
    @include viewport;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    & > .searchbar {
      width: 31.25rem;

      @media (max-width: 500px) {
        width: 20rem;
      }
    }

    & > .text {
      flex: 1;
    }
  }
}
