/*
  import 하는 css 파일명은 _ 로 시작한다.
  선언 순서에 따라 override 됨을 주의한다.
*/

@import './utils/index.scss';
@import './common/index.scss';
@import './components/index.scss';
@import './pages/index.scss';

html,
body {
  background-color: $alabaster;
  color: $black;
  height: 100%;
}

#root {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  & .page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex: 1;
    gap: 2rem;
  }
}
