/*
  import 하는 css 파일명은 _ 로 시작한다.
  선언 순서에 따라 override 됨을 주의한다.
*/

// 변수
@import './utils/pxr', './utils/color';

// reset
@import './config/reset', './config/custom-reset';

// 전역스타일(mixin)
@import './config/font-style', './config/display';

// 컴포넌트 스타일
@import './components/icon-button.scss', './components/text';

html {
  background-color: $alabaster;
}

body {
  background-color: $alabaster;
  color: $black;
}
