/*
  import 하는 css 파일명은 _ 로 시작한다.
  선언 순서에 따라 override 됨을 주의한다.
*/

@import './abstracts/index';
@import './common/index';
@import './components/index';
@import './pages/index';
@import './layouts/index';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-all;
}

html,
body {
  background-color: $alabaster;
  color: $black;

  min-height: 100vh;
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    min-height: -webkit-fill-available;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    min-height: -webkit-fill-available;
  }
  overflow: hidden;

  --font-content: 'Noto Sans KR', sans-serif;
  --black: #020202;
  --white: white;
  --gray: #a29ea5;
  --ebony: #170c1e;
  --french-lilac: #ebdbf3;
  --alabaster: #fbfbfb;
  --sunglow: #ffcd27;
  --light-gray: #f5f5f5;

  /* purple palette */
  --blue-violet: #9023d5;
  --lavender: #b169dd;
  --purple: #590091;
  --vivid-violet: #783b99;
  --selago: #efe0fd;
  --light-violet: #ba5bec;

  /* label */
  --athens-gray: #e8eaed;
  --cream-brulee: #ffe5a0;
  --lilac: #e6cff2;
  --botticelli: #c6dbe1;
  --tropical-blue: #bfe1f6;
  --your-pink: #ffcfc9;
}

.share-collections {
  & header {
    position: absolute;
    background-color: transparent;
  }
}

*::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
