/* font-color */
.font-color-black {
  color: $black;
}
.font-color-white {
  color: $white;
}
.font-color-gray {
  color: $gray;
}
.font-color-ebony {
  color: $ebony;
}
.font-color-french-lilac {
  color: $french-lilac;
}
.font-color-alabaster {
  color: $alabaster;
}
.font-color-sunglow {
  color: $sunglow;
}
.font-color-blue-violet {
  color: $blue-violet;
}
.font-color-lavender {
  color: $lavender;
}
.font-color-purple {
  color: $purple;
}
.font-color-vivid-violet {
  color: $vivid-violet;
}
.font-color-selago {
  color: $selago;
}
.font-color-twitter-blue {
  color: $twitter-blue;
}
.font-color-light-violet {
  color: $light-violet;
}

/* background-color */
.background-black {
  background: $black;
}
.background-white {
  background: $white;
}
.background-gray {
  background: $gray;
}
.background-ebony {
  background: $ebony;
}
.background-french-lilac {
  background: $french-lilac;
}
.background-alabaster {
  background: $alabaster;
}
.background-sunglow {
  background: $sunglow;
}
.background-blue-violet {
  background: $blue-violet;
}
.background-lavender {
  background: $lavender;
}
.background-purple {
  background: $purple;
}
.background-vivid-violet {
  background: $vivid-violet;
}
.background-selago {
  background: $selago;
}
.background-twitter-blue {
  background: $twitter-blue;
}
.background-light-violet {
  background: $light-violet;
}
