$black: #020202;
$white: white;
$gray: #a29ea5;
$ebony: #170c1e;
$french-lilac: #ebdbf3;
$alabaster: #fbfbfb;
$sunglow: #ffcd27;

/* purple palette */
$blue-violet: #9023d5;
$lavender: #b169dd;
$purple: #590091;
$vivid-violet: #783b99;
$selago: #efe0fd;
$lignt-violet: #ba5bec;

/* etc */
$twitter-blue: #1da1f2;
